@section Styles {
    <link rel="stylesheet" href="~/css/contact.css">       <!--mesela wwroot da contact sayfasına özel bir css dosyası olsun ve onu buraya eklemek isteyim-->
}

<h1>home contact</h1>